#
# 编译固件设置
#
# 硬件版本
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
# 编译UEFI固件
CONFIG_EFI_IMAGES=n
# 取消编译VMware镜像以及镜像填充
# CONFIG_TARGET_IMAGES_PAD is not set
# CONFIG_VMDK_IMAGES is not set
# 固件压缩
CONFIG_TARGET_IMAGES_GZIP=y


#
# IPv6
#
# 关闭IPv6
# CONFIG_KERNEL_IPV6=n
# CONFIG_KERNEL_IPV6_MULTIPLE_TABLES=n
# CONFIG_KERNEL_IPV6_SUBTREES=n
# CONFIG_KERNEL_IPV6_MROUTE=n
# CONFIG_IPV6=n

#
# 文件系统支持
#


#
# LuCI插件
#
# 安装Lean代码库中的插件


# 自定义添加插件
# > ServerChan
CONFIG_PACKAGE_luci-app-serverchan=y



# 禁止编译默认安装


# LuCI主题

